{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "REST API for Azure Redis Cache Service.",
        "title": "RedisManagementClient",
        "version": "2018-03-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/redis/resource-manager/Microsoft.Cache/stable/2018-03-01/redis.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "redis",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.Cache/operations": {
            "get": {
                "description": "Lists all of the available REST API operations of the Microsoft.Cache provider.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. The response describes the list of operations.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "URL to get the next set of operation list results if there are any.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of operations supported by the resource provider.",
                                            "items": {
                                                "description": "REST API operation",
                                                "properties": {
                                                    "display": {
                                                        "description": "The object that describes the operation.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "Friendly name of the operation",
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "Operation type: read, write, delete, listKeys/action, etc.",
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "Friendly name of the resource provider",
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "Resource type on which the operation is performed.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Operation name: {provider}/{resource}/{operation}",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operations"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/CheckNameAvailability": {
            "post": {
                "description": "Checks that the redis cache name is valid and is not already in use.",
                "operationId": "Redis_CheckNameAvailability",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Name is available"
                    }
                },
                "tags": [
                    "Redis"
                ],
                "x-ms-examples": {
                    "RedisCacheList": {
                        "parameters": {
                            "api-version": "2018-03-01",
                            "parameters": {
                                "name": "cacheName",
                                "type": "Microsoft.Cache/Redis"
                            },
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Parameters body to pass for resource name availability check.",
                                "properties": {
                                    "name": {
                                        "description": "Resource name.",
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "Resource type. The only legal value of this property for checking redis cache name availability is 'Microsoft.Cache/redis'.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name",
                                    "type"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Parameters supplied to the CheckNameAvailability Redis operation. The only supported resource type is 'Microsoft.Cache/redis'",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/Redis": {
            "get": {
                "description": "Gets all Redis caches in the specified subscription.",
                "operationId": "Redis_List",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response of list Redis operation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link for next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Redis cache instances.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The Resource definition.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource",
                                                        "properties": {
                                                            "location": {
                                                                "description": "The geo-location where the resource lives",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "A single Redis item in List or Get Operation.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Redis cache properties.",
                                                        "x-ms-client-flatten": true,
                                                        "allOf": [
                                                            {
                                                                "allOf": [
                                                                    {
                                                                        "description": "Create/Update/Get common properties of the redis cache.",
                                                                        "properties": {
                                                                            "enableNonSslPort": {
                                                                                "description": "Specifies whether the non-ssl Redis server port (6379) is enabled.",
                                                                                "type": "boolean"
                                                                            },
                                                                            "minimumTlsVersion": {
                                                                                "description": "Optional: requires clients to use a specified TLS version (or higher) to connect (e,g, '1.0', '1.1', '1.2')",
                                                                                "enum": [
                                                                                    "1.0",
                                                                                    "1.1",
                                                                                    "1.2"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": true,
                                                                                    "name": "TlsVersion"
                                                                                }
                                                                            },
                                                                            "redisConfiguration": {
                                                                                "additionalProperties": {
                                                                                    "type": "string"
                                                                                },
                                                                                "description": "All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,slowlog-log-slower-than,slowlog-max-len,list-max-ziplist-entries,list-max-ziplist-value,hash-max-ziplist-entries,hash-max-ziplist-value,set-max-intset-entries,zset-max-ziplist-entries,zset-max-ziplist-value etc.",
                                                                                "type": "object"
                                                                            },
                                                                            "shardCount": {
                                                                                "description": "The number of shards to be created on a Premium Cluster Cache.",
                                                                                "format": "int32",
                                                                                "type": "integer"
                                                                            },
                                                                            "tenantSettings": {
                                                                                "additionalProperties": {
                                                                                    "type": "string"
                                                                                },
                                                                                "description": "A dictionary of tenant settings",
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "x-ms-external": true,
                                                                        "type": "object"
                                                                    }
                                                                ],
                                                                "description": "Properties supplied to Create Redis operation.",
                                                                "properties": {
                                                                    "sku": {
                                                                        "description": "The SKU of the Redis cache to deploy.",
                                                                        "properties": {
                                                                            "capacity": {
                                                                                "description": "The size of the Redis cache to deploy. Valid values: for C (Basic/Standard) family (0, 1, 2, 3, 4, 5, 6), for P (Premium) family (1, 2, 3, 4).",
                                                                                "format": "int32",
                                                                                "type": "integer"
                                                                            },
                                                                            "family": {
                                                                                "description": "The SKU family to use. Valid values: (C, P). (C = Basic/Standard, P = Premium).",
                                                                                "enum": [
                                                                                    "C",
                                                                                    "P"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": true,
                                                                                    "name": "SkuFamily"
                                                                                }
                                                                            },
                                                                            "name": {
                                                                                "description": "The type of Redis cache to deploy. Valid values: (Basic, Standard, Premium)",
                                                                                "enum": [
                                                                                    "Basic",
                                                                                    "Standard",
                                                                                    "Premium"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": true,
                                                                                    "name": "SkuName"
                                                                                }
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "family",
                                                                            "capacity"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "staticIP": {
                                                                        "description": "Static IP address. Required when deploying a Redis cache inside an existing Azure Virtual Network.",
                                                                        "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+$",
                                                                        "type": "string"
                                                                    },
                                                                    "subnetId": {
                                                                        "description": "The full resource ID of a subnet in a virtual network to deploy the Redis cache in. Example format: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/Microsoft.{Network|ClassicNetwork}/VirtualNetworks/vnet1/subnets/subnet1",
                                                                        "pattern": "^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "sku"
                                                                ],
                                                                "x-ms-external": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "properties": {
                                                            "accessKeys": {
                                                                "description": "The keys of the Redis cache - not set if this object is not the response to Create or Update redis cache",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "primaryKey": {
                                                                        "description": "The current primary key that clients can use to authenticate with Redis cache.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "secondaryKey": {
                                                                        "description": "The current secondary key that clients can use to authenticate with Redis cache.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "hostName": {
                                                                "description": "Redis host name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "linkedServers": {
                                                                "description": "List of the linked servers associated with the cache",
                                                                "items": {
                                                                    "description": "Linked server Id",
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "Linked server Id.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "readOnly": true,
                                                                "type": "array"
                                                            },
                                                            "port": {
                                                                "description": "Redis non-SSL port.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "provisioningState": {
                                                                "description": "Redis instance provisioning status.",
                                                                "enum": [
                                                                    "Creating",
                                                                    "Deleting",
                                                                    "Disabled",
                                                                    "Failed",
                                                                    "Linking",
                                                                    "Provisioning",
                                                                    "RecoveringScaleFailure",
                                                                    "Scaling",
                                                                    "Succeeded",
                                                                    "Unlinking",
                                                                    "Unprovisioning",
                                                                    "Updating"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "redisVersion": {
                                                                "description": "Redis version.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "sslPort": {
                                                                "description": "Redis SSL port.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "x-ms-external": true
                                                    },
                                                    "zones": {
                                                        "description": "A list of availability zones denoting where the resource needs to come from.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Redis"
                ],
                "x-ms-examples": {
                    "RedisCacheList": {
                        "parameters": {
                            "api-version": "2018-03-01",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1",
                                            "location": "West US",
                                            "name": "cache1",
                                            "properties": {
                                                "enableNonSslPort": true,
                                                "hostName": "cache1.redis.cache.windows.net",
                                                "port": 6379,
                                                "provisioningState": "Creating",
                                                "redisConfiguration": {},
                                                "redisVersion": "3.2",
                                                "sku": {
                                                    "capacity": 6,
                                                    "family": "C",
                                                    "name": "Standard"
                                                },
                                                "sslPort": 6380
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Cache/Redis"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis": {
            "get": {
                "description": "Lists all Redis caches in a resource group.",
                "operationId": "Redis_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response of list Redis operation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link for next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Redis cache instances.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The Resource definition.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource",
                                                        "properties": {
                                                            "location": {
                                                                "description": "The geo-location where the resource lives",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "A single Redis item in List or Get Operation.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Redis cache properties.",
                                                        "x-ms-client-flatten": true,
                                                        "allOf": [
                                                            {
                                                                "allOf": [
                                                                    {
                                                                        "description": "Create/Update/Get common properties of the redis cache.",
                                                                        "properties": {
                                                                            "enableNonSslPort": {
                                                                                "description": "Specifies whether the non-ssl Redis server port (6379) is enabled.",
                                                                                "type": "boolean"
                                                                            },
                                                                            "minimumTlsVersion": {
                                                                                "description": "Optional: requires clients to use a specified TLS version (or higher) to connect (e,g, '1.0', '1.1', '1.2')",
                                                                                "enum": [
                                                                                    "1.0",
                                                                                    "1.1",
                                                                                    "1.2"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": true,
                                                                                    "name": "TlsVersion"
                                                                                }
                                                                            },
                                                                            "redisConfiguration": {
                                                                                "additionalProperties": {
                                                                                    "type": "string"
                                                                                },
                                                                                "description": "All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,slowlog-log-slower-than,slowlog-max-len,list-max-ziplist-entries,list-max-ziplist-value,hash-max-ziplist-entries,hash-max-ziplist-value,set-max-intset-entries,zset-max-ziplist-entries,zset-max-ziplist-value etc.",
                                                                                "type": "object"
                                                                            },
                                                                            "shardCount": {
                                                                                "description": "The number of shards to be created on a Premium Cluster Cache.",
                                                                                "format": "int32",
                                                                                "type": "integer"
                                                                            },
                                                                            "tenantSettings": {
                                                                                "additionalProperties": {
                                                                                    "type": "string"
                                                                                },
                                                                                "description": "A dictionary of tenant settings",
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "x-ms-external": true,
                                                                        "type": "object"
                                                                    }
                                                                ],
                                                                "description": "Properties supplied to Create Redis operation.",
                                                                "properties": {
                                                                    "sku": {
                                                                        "description": "The SKU of the Redis cache to deploy.",
                                                                        "properties": {
                                                                            "capacity": {
                                                                                "description": "The size of the Redis cache to deploy. Valid values: for C (Basic/Standard) family (0, 1, 2, 3, 4, 5, 6), for P (Premium) family (1, 2, 3, 4).",
                                                                                "format": "int32",
                                                                                "type": "integer"
                                                                            },
                                                                            "family": {
                                                                                "description": "The SKU family to use. Valid values: (C, P). (C = Basic/Standard, P = Premium).",
                                                                                "enum": [
                                                                                    "C",
                                                                                    "P"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": true,
                                                                                    "name": "SkuFamily"
                                                                                }
                                                                            },
                                                                            "name": {
                                                                                "description": "The type of Redis cache to deploy. Valid values: (Basic, Standard, Premium)",
                                                                                "enum": [
                                                                                    "Basic",
                                                                                    "Standard",
                                                                                    "Premium"
                                                                                ],
                                                                                "type": "string",
                                                                                "x-ms-enum": {
                                                                                    "modelAsString": true,
                                                                                    "name": "SkuName"
                                                                                }
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "family",
                                                                            "capacity"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "staticIP": {
                                                                        "description": "Static IP address. Required when deploying a Redis cache inside an existing Azure Virtual Network.",
                                                                        "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+$",
                                                                        "type": "string"
                                                                    },
                                                                    "subnetId": {
                                                                        "description": "The full resource ID of a subnet in a virtual network to deploy the Redis cache in. Example format: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/Microsoft.{Network|ClassicNetwork}/VirtualNetworks/vnet1/subnets/subnet1",
                                                                        "pattern": "^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "sku"
                                                                ],
                                                                "x-ms-external": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "properties": {
                                                            "accessKeys": {
                                                                "description": "The keys of the Redis cache - not set if this object is not the response to Create or Update redis cache",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "primaryKey": {
                                                                        "description": "The current primary key that clients can use to authenticate with Redis cache.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "secondaryKey": {
                                                                        "description": "The current secondary key that clients can use to authenticate with Redis cache.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "hostName": {
                                                                "description": "Redis host name.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "linkedServers": {
                                                                "description": "List of the linked servers associated with the cache",
                                                                "items": {
                                                                    "description": "Linked server Id",
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "Linked server Id.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "readOnly": true,
                                                                "type": "array"
                                                            },
                                                            "port": {
                                                                "description": "Redis non-SSL port.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "provisioningState": {
                                                                "description": "Redis instance provisioning status.",
                                                                "enum": [
                                                                    "Creating",
                                                                    "Deleting",
                                                                    "Disabled",
                                                                    "Failed",
                                                                    "Linking",
                                                                    "Provisioning",
                                                                    "RecoveringScaleFailure",
                                                                    "Scaling",
                                                                    "Succeeded",
                                                                    "Unlinking",
                                                                    "Unprovisioning",
                                                                    "Updating"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "redisVersion": {
                                                                "description": "Redis version.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "sslPort": {
                                                                "description": "Redis SSL port.",
                                                                "format": "int32",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "x-ms-external": true
                                                    },
                                                    "zones": {
                                                        "description": "A list of availability zones denoting where the resource needs to come from.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Redis"
                ],
                "x-ms-examples": {
                    "RedisCacheListByResourceGroup": {
                        "parameters": {
                            "api-version": "2018-03-01",
                            "resourceGroupName": "rg1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1",
                                            "location": "West US",
                                            "name": "cache1",
                                            "properties": {
                                                "enableNonSslPort": true,
                                                "hostName": "cache1.redis.cache.windows.net",
                                                "port": 6379,
                                                "provisioningState": "Creating",
                                                "redisConfiguration": {},
                                                "redisVersion": "3.2",
                                                "sku": {
                                                    "capacity": 6,
                                                    "family": "C",
                                                    "name": "Standard"
                                                },
                                                "sslPort": 6380
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Cache/Redis"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{cacheName}/firewallRules": {
            "get": {
                "description": "Gets all firewall rules in the specified redis cache.",
                "operationId": "FirewallRules_ListByRedisResource",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Redis cache.",
                        "in": "path",
                        "name": "cacheName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got the current rules",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response of list firewall rules Redis operation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Link for next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Results of the list firewall rules operation.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The Resource definition.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags"
                                                    }
                                                ],
                                                "description": "A firewall rule on a redis cache has a name, and describes a contiguous range of IP addresses permitted to connect",
                                                "properties": {
                                                    "properties": {
                                                        "description": "redis cache firewall rule properties",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "endIP": {
                                                                "description": "highest IP address included in the range",
                                                                "type": "string"
                                                            },
                                                            "startIP": {
                                                                "description": "lowest IP address included in the range",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "startIP",
                                                            "endIP"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Redis",
                    "FirewallRules"
                ],
                "x-ms-examples": {
                    "RedisCacheFirewallRulesList": {
                        "parameters": {
                            "api-version": "2018-03-01",
                            "cacheName": "cache1",
                            "resourceGroupName": "rg1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/firewallRules/rule1",
                                            "name": "rule1",
                                            "properties": {
                                                "endIP": "192.168.1.4",
                                                "startIP": "192.168.1.1"
                                            },
                                            "type": "Microsoft.Cache/Redis/firewallRules"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/firewallRules/rule2",
                                            "name": "rule2",
                                            "properties": {
                                                "endIP": "192.169.1.255",
                                                "startIP": "192.169.1.0"
                                            },
                                            "type": "Microsoft.Cache/Redis/firewallRules"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{cacheName}/firewallRules/{ruleName}": {
            "delete": {
                "description": "Deletes a single firewall rule in a specified redis cache.",
                "operationId": "FirewallRules_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Redis cache.",
                        "in": "path",
                        "name": "cacheName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the firewall rule.",
                        "in": "path",
                        "name": "ruleName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the rule"
                    },
                    "204": {
                        "description": "Successfully deleted the rule"
                    }
                },
                "tags": [
                    "Redis",
                    "FirewallRules"
                ],
                "x-ms-examples": {
                    "RedisCacheFirewallRuleDelete": {
                        "parameters": {
                            "api-version": "2018-03-01",
                            "cacheName": "cache1",
                            "resourceGroupName": "rg1",
                            "ruleName": "rule1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {},
                            "204": {}
                        }
                    }
                }
            },
            "get": {
                "description": "Gets a single firewall rule in a specified redis cache.",
                "operationId": "FirewallRules_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Redis cache.",
                        "in": "path",
                        "name": "cacheName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the firewall rule.",
                        "in": "path",
                        "name": "ruleName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully found the rule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The Resource definition.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags"
                                        }
                                    ],
                                    "description": "A firewall rule on a redis cache has a name, and describes a contiguous range of IP addresses permitted to connect",
                                    "properties": {
                                        "properties": {
                                            "description": "redis cache firewall rule properties",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "endIP": {
                                                    "description": "highest IP address included in the range",
                                                    "type": "string"
                                                },
                                                "startIP": {
                                                    "description": "lowest IP address included in the range",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "startIP",
                                                "endIP"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Redis",
                    "FirewallRules"
                ],
                "x-ms-examples": {
                    "RedisCacheFirewallRuleGet": {
                        "parameters": {
                            "api-version": "2018-03-01",
                            "cacheName": "cache1",
                            "resourceGroupName": "rg1",
                            "ruleName": "rule1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/firewallRules/rule1",
                                    "name": "cache1/rule1",
                                    "properties": {
                                        "endIP": "192.168.1.4",
                                        "startIP": "192.168.1.1"
                                    },
                                    "type": "Microsoft.Cache/Redis/firewallRules"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Create or update a redis cache firewall rule",
                "operationId": "FirewallRules_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Redis cache.",
                        "in": "path",
                        "name": "cacheName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the firewall rule.",
                        "in": "path",
                        "name": "ruleName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource was successfully updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The Resource definition.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags"
                                        }
                                    ],
                                    "description": "A firewall rule on a redis cache has a name, and describes a contiguous range of IP addresses permitted to connect",
                                    "properties": {
                                        "properties": {
                                            "description": "redis cache firewall rule properties",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "endIP": {
                                                    "description": "highest IP address included in the range",
                                                    "type": "string"
                                                },
                                                "startIP": {
                                                    "description": "lowest IP address included in the range",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "startIP",
                                                "endIP"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Resource was successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "The Resource definition.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags"
                                        }
                                    ],
                                    "description": "A firewall rule on a redis cache has a name, and describes a contiguous range of IP addresses permitted to connect",
                                    "properties": {
                                        "properties": {
                                            "description": "redis cache firewall rule properties",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "endIP": {
                                                    "description": "highest IP address included in the range",
                                                    "type": "string"
                                                },
                                                "startIP": {
                                                    "description": "lowest IP address included in the range",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "startIP",
                                                "endIP"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Redis",
                    "FirewallRules"
                ],
                "x-ms-examples": {
                    "RedisCacheFirewallRuleCreate": {
                        "parameters": {
                            "api-version": "2018-03-01",
                            "cacheName": "cache1",
                            "parameters": {
                                "properties": {
                                    "endIP": "192.168.1.4",
                                    "startIP": "192.168.1.1"
                                }
                            },
                            "resourceGroupName": "rg1",
                            "ruleName": "rule1",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/firewallRules/rule1",
                                    "name": "cache1/rule1",
                                    "properties": {
                                        "endIP": "192.168.1.4",
                                        "startIP": "192.168.1.1"
                                    },
                                    "type": "Microsoft.Cache/Redis/firewallRules"
                                }
                            },
                            "201": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/firewallRules/rule1",
                                    "name": "cache1/rule1",
                                    "properties": {
                                        "endIP": "192.168.1.4",
                                        "startIP": "192.168.1.1"
                                    },
                                    "type": "Microsoft.Cache/Redis/firewallRules"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Parameters required for creating a firewall rule on redis cache.",
                                "properties": {
                                    "properties": {
                                        "description": "Properties required to create a firewall rule .",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "endIP": {
                                                "description": "highest IP address included in the range",
                                                "type": "string"
                                            },
                                            "startIP": {
                                                "description": "lowest IP address included in the range",
                                                "type": "string"
[...]
